<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a target="_blank" href="http://openhardware.science/gosh-manifesto/">GOSH maifesto</a></li>
          <br/>
          <li><a target="_blank" href="https://forum.openhardware.science/">Join the forum</a></li>
          <br/>
          <li><a target="_blank" href="https://gitlab.com/gosh-community/gosh-roadmap/-/issues/">GOSH roadmap tracker</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
