---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    <ul>
      {% for tech in site.technologies %}
      {% for field in tech.fields %}
      {% if page.field_id == field %}
      <li>
        <a href="{{ tech.url | prepend: site.baseurl }}">{{ tech.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>

</article>
